@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-kanit: "Kanit", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --color-deepslate-50: oklch(97.9% 0.002 247.8);
  --color-deepslate-100: oklch(95.0% 0.006 239.8);
  --color-deepslate-200: oklch(87.9% 0.012 248.0);
  --color-deepslate-300: oklch(79.4% 0.018 248.1);
  --color-deepslate-400: oklch(67.4% 0.026 250.2);
  --color-deepslate-500: oklch(54.3% 0.027 250.3);
  --color-deepslate-600: oklch(44.6% 0.026 256.8);
  --color-deepslate-700: oklch(34.5% 0.021 254.1);
  --color-deepslate-800: oklch(28.5% 0.016 248.4);
  --color-deepslate-900: oklch(23.2% 0.012 248.4);
  --color-deepslate-950: oklch(18.9% 0.008 248.2);
  --color-softlinen-50: oklch(99.3% 0.003 106.4);
  --color-softlinen-100: oklch(97.3% 0.004 91.4);
  --color-softlinen-200: oklch(93.7% 0.007 88.6);
  --color-softlinen-300: oklch(89.2% 0.010 87.5);
  --color-softlinen-400: oklch(81.6% 0.010 72.6);
  --color-softlinen-500: oklch(70.9% 0.012 71.8);
  --color-softlinen-600: oklch(62.0% 0.017 77.0);
  --color-softlinen-700: oklch(53.2% 0.020 76.0);
  --color-softlinen-800: oklch(44.2% 0.018 76.9);
  --color-softlinen-900: oklch(34.9% 0.018 74.1);
  --color-softlinen-950: oklch(25.1% 0.015 76.2);
  --color-cappuccinoblend-50: oklch(97.8% 0.013 82.4);
  --color-cappuccinoblend-100: oklch(94.2% 0.030 78.8);
  --color-cappuccinoblend-200: oklch(88.1% 0.038 83.0);
  --color-cappuccinoblend-300: oklch(78.1% 0.042 65.9);
  --color-cappuccinoblend-400: oklch(68.0% 0.049 50.7);
  --color-cappuccinoblend-500: oklch(59.1% 0.053 44.5);
  --color-cappuccinoblend-600: oklch(57.3% 0.040 51.6);
  --color-cappuccinoblend-700: oklch(53.9% 0.034 50.2);
  --color-cappuccinoblend-800: oklch(45.7% 0.026 46.7);
  --color-cappuccinoblend-900: oklch(38.3% 0.022 50.0);
  --color-cappuccinoblend-950: oklch(30.6% 0.015 45.4);
}